<div>
  <div *ngIf="!mostrarCupo" class="center">
    <i class="fa fa-spinner faa-spin animated" style="font-size:100px;"></i>
    <h1>Cargando Cupos</h1>
  </div>
  <div class="" *ngIf="mostrarCupo">
    <h2 class="center"> Cupos</h2>
    <br>
    <table style="width:80%; text-align:center">
      <tr>
        <th>K_CUPOS </th>
        <th>F_CUPO</th>
        <th>Q_CUPOS_REGULAR </th>
        <th>DISPONIBLES</th>
        <th>Q_CUPOS_SUPER </th>
        <th>DISPONIBLES </th>
        <th>Q_CUPOS_NEOPANAMAX </th>
        <th>DISPONIBLES </th>
        <th>ACCIONES</th>
      </tr>
      <tr *ngFor="let cupo of cupos">
        <th>{{cupo.K_CUPOS}} </th>
        <th>{{cupo.F_CUPO}}</th>
        <th>{{cupo.Q_CUPOS_REGULAR}} </th>
        <th>{{cupo.Q_CUPOS_REGULAR_DISPONIBLES}}</th>
        <th>{{cupo.Q_CUPOS_SUPER}} </th>
        <th>{{cupo.Q_CUPOS_SUPER_DISPONIBLES}} </th>
        <th>{{cupo.Q_CUPOS_NEOPANAMAX}} </th>
        <th>{{cupo.Q_CUPOS_NEOPANAMAX_DISPONIBLES}} </th>
        <th> 
          <i (click)="editarCupo(cupo)" class="fa fa-pencil fa-lg  faa-shake animated-hover" aria-hidden="true" data-toggle="tooltip" title="Editar Cupo"></i>
        </th>
      </tr>
    </table>
  </div>
</div>
<div class="col center">
  <input (click)="formAgregarCupo=!formAgregarCupo" class="btn" type="submit" value="Crear Cupo?" style="margin: auto">
  <br>
  <div *ngIf="formAgregarCupo">
      <div *ngIf="!registrandoCupo">
        <form (ngSubmit)="crearCupo()" #cupoForm="ngForm">
            
            <input [(ngModel)]="cupo.K_CUPOS" name="nombre" class="txt" type="number" placeholder="Digite el identificador" required>
            <input [(ngModel)]="cupo.F_CUPO" name="nombre" class="txt" type="date" placeholder="Seleccione la fecha" required [min]="dateToday">
            <input [(ngModel)]="cupo.Q_CUPOS_REGULAR" name="nombre" class="txt" type="number" placeholder="Digite el número de cupos regulares" required>
            <input [(ngModel)]="cupo.Q_CUPOS_NEOPANAMAX" name="nombre" class="txt" type="number" placeholder="Digite el número de cupos neopanamax" required>
            <input [(ngModel)]="cupo.Q_CUPOS_SUPER" name="nombre" class="txt" type="number" placeholder="Digite el número de cupos super" required>
            
            <input [disabled]="!cupoForm.form.valid" class="btn" type="submit" value="Crear Cupo" style="margin: auto">
        </form>
      </div>
      <div *ngIf="registrandoCupo">
        <i class="fa fa-spinner faa-spin animated" style="font-size:100px;"></i>
        <h1>Registrando Cupo</h1>
      </div>
  </div>
</div>
<div class="col center">
  <input *ngIf="formModificarCupo" (click)="formModificarCupo=!formModificarCupo" class="btn" type="submit" value="Cancelar?" style="margin: auto">
  <br>
  <div *ngIf="formModificarCupo">
      <div *ngIf="!modificandoCupo">
        <form (ngSubmit)="actualizarCupo()" #cupoEditForm="ngForm">
            
            <input [(ngModel)]="cupoTemporal.K_CUPOS" name="t_id" class="txt" type="number" placeholder="Digite el identificador" required disabled="false" >
            <input [(ngModel)]="cupoTemporal.Q_CUPOS_REGULAR" name="regular" #regular="ngModel" class="txt" type="number" placeholder="Digite el número de cupos regulares" required [min]="cupoTemporal.disponiblesRegular">
            <input [(ngModel)]="cupoTemporal.Q_CUPOS_NEOPANAMAX" name="neo" #neo="ngModel" class="txt" type="number" placeholder="Digite el número de cupos neopanamax" required  [min]="cupoTemporal.disponiblesNeo">
            <input [(ngModel)]="cupoTemporal.Q_CUPOS_SUPER" name="super" #super="ngModel" class="txt" type="number" placeholder="Digite el número de cupos super" required  [min]="cupoTemporal.disponiblesSuper">
            
            <input [disabled]="!cupoEditForm.form.valid" class="btn" type="submit" value="Actualizar Cupo" style="margin: auto">
        </form>
      </div>
      <div *ngIf="modificandoCupo">
        <i class="fa fa-spinner faa-spin animated" style="font-size:100px;"></i>
        <h1>Modificando Cupo</h1>
      </div>
  </div>
</div>
