<div class="">
  <div *ngIf="!mostrarReservas" class="center">
    <i class="fa fa-spinner faa-spin animated" style="font-size:100px;"></i>
    <h1>Cargando reservas</h1>
  </div>
  <div class="" *ngIf="mostrarReservas">
    <h2 class="center"> Reservas</h2>
    <br>
    <table style="width:80%; text-align:center">
      <tr>
        <th>K_NUMERO </th>
        <th>k_SIN </th>
        <th>N_NOMBRE </th>
        <th>N_TIPO_BUQUE </th>
        <th>N_SENTIDO </th>
        <th>F_FECHA </th>
        <th>N_PUERTO_LLEGADA</th>
        <th>N_PUERTO_SALIDA</th> 
        <th>N_TIPO_CARGA</th> 
        <th>ACCIONES</th>
      </tr>
      <tr *ngFor="let reserva of reservas">
        <th>{{reserva.K_NUMERO}} </th>
        <th>{{reserva.K_SIN}} </th>
        <th>{{reserva.N_NOMBRE}} </th>
        <th>{{reserva.N_TIPO_BUQUE}} </th>
        <th>{{reserva.N_SENTIDO}} </th>
        <th>{{reserva.F_FECHA}} </th>
        <th>{{reserva.N_PUERTO_LLEGADA}}</th>
        <th>{{reserva.N_PUERTO_SALIDA}}</th> 
        <th>{{reserva.N_TIPO_CARGA}}</th> 
        <th> 
          <i (click)="editarReserva(reserva)" class="fa fa-pencil fa-lg  faa-shake animated-hover" aria-hidden="true" data-toggle="tooltip" title="Editar Reserva"></i>
          <i (click)="eliminarReserva(reserva)" class="fa fa-trash fa-lg  faa-shake animated-hover" aria-hidden="true" data-toggle="tooltip" title="Eliminar Reserva"></i>
        </th>
      </tr>
    </table>
  </div>
</div>
<div class="col center">
  <input (click)="formAgregarReserva=!formAgregarReserva" class="btn" type="submit" value="Crear Reserva?" style="margin: auto">
  <br>
  <div *ngIf="formAgregarReserva">
      <div *ngIf="!registrandoReserva && !verificando">
      	<div *ngIf="!cuposDisponibles">
	      	<form (ngSubmit)="verificarDisponibilidad()" #disponibilidadForm="ngForm">
	      		<input [(ngModel)]="reserva.F_FECHA" name="nombre" class="txt" type="date" placeholder="Seleccione la fecha de la reserva" required [min]="dateToday">
	      		<select [(ngModel)]="reserva.buque" name="nombre" placeholder="Seleccione el buque" required> 
	              <option  *ngFor="let buque of buques" [ngValue]="buque"> Buque {{buque.N_TIPO_BUQUE}}: {{buque.K_SIN}}-{{buque.N_NOMBRE}}</option>
	            </select>
	            <br>
	            <br>
	            <input [disabled]="!disponibilidadForm.form.valid" class="btn" type="submit" value="Verificar Disponibilidad" style="margin: auto">
	      	</form>
      	</div>
      	<div *ngIf="cuposDisponibles">
	        <form (ngSubmit)="crearReserva()" #reservaForm="ngForm">
	            
	            <input [(ngModel)]="reserva.K_NUMERO" name="nombre" class="txt" type="number" placeholder="Digite el id de la reserva" required>
	            <select [(ngModel)]="reserva.N_SENTIDO" name="sentido" placeholder="Seleccione el sentido" required> 
	              <option  value="SUR">SUR</option>
	              <option  value="NORTE">NORTE</option>
	            </select>
	            <br>
	            <br>
	            <input [(ngModel)]="reserva.N_PUERTO_LLEGADA" name="nombre" class="txt" type="text" placeholder="Digite el pruerto de llegada" required>
	            <input [(ngModel)]="reserva.N_PUERTO_SALIDA" name="nombre" class="txt" type="text" placeholder="Digite el pruerto de salida" required>
	            <input [(ngModel)]="reserva.N_TIPO_CARGA" name="nombre" class="txt" type="text" placeholder="Digite el tipo de carga" required>
	            <!--select [(ngModel)]="reserva.buque" name="nombre" placeholder="Seleccione el buque" required> 
	              <option  *ngFor="let buque of buques" [ngValue]="buque"> Buque {{buque.N_TIPO_BUQUE}}: {{buque.K_SIN}}-{{buque.N_NOMBRE}}</option>
	            </select>
	            <br>
	            <br-->
	            <input [disabled]="!reservaForm.form.valid && cuposDisponibles" class="btn" type="submit" value="Crear Reserva" style="margin: auto">
	        </form>
    	</div>
      </div>
      <div *ngIf="registrandoReserva">
        <i class="fa fa-spinner faa-spin animated" style="font-size:100px;"></i>
        <h1>Registrando Reserva</h1>
      </div>
      <div *ngIf="verificando">
        <i class="fa fa-spinner faa-spin animated" style="font-size:100px;"></i>
        <h1>Verificando Disponibilidad</h1>
      </div>
  </div>
</div>
<div class="col center" *ngIf="permitirEditarReserva">
      <div *ngIf="!editandoReserva && !verificandoNueva">
        <div *ngIf="!cuposNuevaDisponibles">
          <form (ngSubmit)="nuevaVerificarDisponibilidad()" #disponibilidadTemporalForm="ngForm">
            <input [(ngModel)]="reservaTemporal.F_FECHA_NUEVA" name="nombre" class="txt" type="date" placeholder="Seleccione la fecha de la reserva" required [min]="dateToday">
            <br>
            <br>
            <input [disabled]="!disponibilidadTemporalForm.form.valid" class="btn" type="submit" value="Verificar Disponibilidad" style="margin: auto">
          </form>
        </div>
        <div *ngIf="cuposNuevaDisponibles">
          <input [(ngModel)]="reservaTemporal.F_FECHA_NUEVA" [disabled]="cuposNuevaDisponibles" name="nombre" class="txt" type="date" placeholder="Seleccione la fecha de la reserva" required [min]="dateToday">
          <input [disabled]="!disponibilidadTemporalForm.form.valid" class="btn" type="submit" (click)="actualizarReserva()" value="Cambiar fecha" style="margin: auto">
        </div>
      </div> 
      <div *ngIf="editandoReserva">
        <i class="fa fa-spinner faa-spin animated" style="font-size:100px;"></i>
        <h1>Editando Reserva</h1>
      </div>
      <div *ngIf="verificandoNueva">
        <i class="fa fa-spinner faa-spin animated" style="font-size:100px;"></i>
        <h1>Verificando Disponibilidad</h1>
      </div>
</div>