<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenido a Aplicación de gestión de reserva y paso del canal de Panamá
  </h1>
</div>

<ul class="menu" *ngIf="logged">
  <li>
    <a routerLink="home"> Home </a>
  </li>
  <li>
    <a routerLink="addUser">Usuarios</a>
  </li>
  <li>
    <a routerLink="buque">Buques</a>
  </li>
  <li>
    <a routerLink="cliente">Clientes</a>
  </li>
  <li>
    <a routerLink="cupo">Cupos</a>
  </li>
  <li>
    <a routerLink="disponibilidad">Disponibilidad</a>
  </li>
  <li>
    <a routerLink="reserva">Reserva</a>
  </li>
  <li>
    <a routerLink="" (click)="logout()"> Salir </a>
  </li>
</ul>

<div class="center" *ngIf="!logged">
  <form>
    <input [(ngModel)]="user.name" name="nombre" class="txt" placeholder="Digite su usuario">

    <input [(ngModel)]="user.pass" name="password" class="txt" type="password" placeholder="Digite su contraseña">

    <input (click)="login()" class="btn" type="submit" value="Ingresar" style="margin: auto">
  </form>
</div>
<br>

<router-outlet></router-outlet>
<br>
<div class="color-ligth center " *ngIf="logged">
  <form>
    <input (click)="logout()" class="btn" type="submit" value="Salir" style="margin: auto">
  </form>
</div>